@media (max-width: 365px) {
    .home-img img{
        width: 90vw;
    }
    .about-container img{
        width: 90vw;
    }
    footer{
        flex-direction: column-reverse;
    }
    footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
